*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: linear-gradient(black, red, black);
}
.nav{
    background-color: black;
    padding: 0px;
    list-style: none;
}
.li{
    display: inline;
}
.a{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
}
.a:hover{
    background-color: rgba(30, 103, 238, 0.733);
}
.img_home{
    width: 1350px;
    height: 580px;
}
.container1{
    background: linear-gradient(black, red, black);
    align-items: center;
    width: 100vw;
    height: 100vh;   
    flex-direction: row;
    justify-content: center;
}
.linha1_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}

.linha1_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna1{
    align-items: center;
    padding: 10px;
    background: linear-gradient(black,red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.picolo{
    height: 170px;
    width: 130px;
    margin: auto;
    display: block;
}
.nomepers{
    color:white;
    text-align: center;     
}
